{% extends "bootstrap/base.html" %}

{%block title%}
 A sample quiz right here        
{%endblock%}

<h1>A sample quiz</h1>

{%block content %}
    <script>
        function startTimer(duration, display) {
var timer = duration, minutes, seconds;
setInterval(function () {
    minutes = parseInt(timer / 60, 10)
    seconds = parseInt(timer % 60, 10);

    minutes = minutes < 10 ? "0" + minutes : minutes;
    seconds = seconds < 10 ? "0" + seconds : seconds;

    display.textContent = minutes + " " + " " + seconds;

    if (--timer < 0) {
        timer = duration;
	document.getElementById('quizform').submit();
    }
  console.log(parseInt(seconds))
  window.localStorage.setItem("seconds",seconds)
  window.localStorage.setItem("minutes",minutes)
}, 1000);
}

window.onload = function () {
  sec  = parseInt(window.localStorage.getItem("seconds"))
  min = parseInt(window.localStorage.getItem("minutes"))
 
  if(parseInt(min*sec)){
    var fiveMinutes = (parseInt(min*60)+sec);
  }else{
    var fiveMinutes = 60 * 5;
  }
    // var fiveMinutes = 60 * 5;
  display = document.querySelector('#time');
  startTimer(fiveMinutes, display);
};
        </script>
        <div>Test ends in <span id="time">05:00</span> minutes!
    <form action='/quiz' method="POST" id="quizform">
    <ol>
        <br>
    {% for i in q %}
    <li><pre>{{q[i]}}</pre></li>
        {%for choice in c[i]%}
        <input type = "radio" value="{{choice}}" name = "{{i}}" >{{choice}}
        <br>
        {% endfor %}
        {% endfor %}
    </ol>
    <input type="submit" value="submit" class="btn btn-primary btn-lg"/>
</form>
{%endblock%}
